main {
  position: fixed;
  width: 20pc;
  height: 5em;
  background-color: #E67E22;
  border-radius: 20px;
}

header {
  cursor: move;
  width: 92%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chat-icon {
  display: inline-flex;
}
.Chat {
  display: inline-block;
  height: 1pc;
}
.chat-title {
  color: #029;
  display: inline-block;
  font-size: 1.5pc;
}
