main {
  position: fixed;
  width: 20pc;
  height: 30em;
  background-color: #E67E22;
  border-radius: 20px;

  transition: height 1s;
}

header {
  cursor: move;
  width: 92%;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer {
  position: absolute;
	bottom: 0px;
	left: 45%;
}
.arrow {
	transition: transform 1s;
	transform: rotate(180deg);
}

.chat-icon {
  display: inline-flex;
}
.Chat {
  display: inline-block;
  height: 1pc;
}
.chat-title {
  color: #029;
  display: inline-block;
  font-size: 1.5pc;
}
.body {
	height: 26.5em;
}
.input {
	position: absolute;
	bottom: 1.7pc;
	left: 2.5pc;
}
